{
  "plugins": [
        'stylelint-scss'
    ],
    "extends": 'stylelint-config-recommended-scss',
    "rules": {
        indentation: 4,
        'no-descending-specificity': null,
        'block-no-empty': null,
        'no-duplicate-selectors': null,
        'selector-combinator-space-before': 'always',
        'selector-combinator-space-after': 'always',
        'declaration-colon-space-after': 'always',
    }
}
