@mixin container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30vw 70vw;
    grid-template-areas:
        "form"
        "list";
    column-gap: 1.6rem;

    @include media(">=md") {
        grid-template-rows: auto;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "form form list list list";
    }
}

.container {
    @include container;
}
