@mixin container {
    display: flex;
    flex-direction: column;

    @include media(">=md") {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "form form list list list";
        column-gap: 1.6rem;
    }
}

.container {
    @include container;
}
